body{
    margin: 0;
    padding: 0;
    background-color: rgb(252, 251, 251);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
header{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box  ;
    width: 100%;
    background: rgb(165, 164, 164);
    padding: 10px;
    position: fixed;

}
.SALUTATION{
    font-weight: bold;
    text-transform: uppercase;
}
.div_nav{
    display: flex;
    list-style-type: none;
    gap: 40px;
}
a{
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    color: black;
}
a:hover{
     color: rgb(228, 58, 67);
    letter-spacing: 0.2em;
}
section{
    padding: 40px 40px;
}
.profil img{
    width: 400px;
    height: 400px;
    border-radius: 5px;
}
.infos p{
    display: flex;
}
.div_present{
    display: flex;
}
button{
    border-radius:30px;
    padding: 12px; 
    color: rgb(233, 9, 9);    
}
#explor{
    background-color: brown;
    color: aliceblue;
}
.fiel{
    display: flex;
    gap: 20px;
}
.DIV1{
    width:300px ;
    height: 400px;
    border-radius: 20px;
    border: 1px solid rgb(3, 2, 8);
}
.DIV2{
    width:300px ;
    height: 400px;
    border-radius: 20px;
    border: 1px solid rgb(3, 2, 8);
}
.DIV3{
    width:300px ;
    height: 400px;
    border-radius: 20px;
    border: 1px solid rgb(3, 2, 8);
}
#A1{
    color: brown;
}
#A2{
    color: brown;
}
#A3{
    color: brown;
}
.about{
    display: flex;
}
ol{
    font-family: 'Times New Roman', Times, serif;
     text-transform: uppercase;

}
.img_team{
    display: flex;
    width: 300px;
    height: 200px;
    gap: 20px;
}
.div_cont1{
    display: flex;
}
#subs{
    padding-left:100px;
    background-color: brown;
    color: aliceblue;
    border: 2px;
    border-radius: 7px;
}